{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taxas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Porcentagem</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Seguradora</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taxa in taxas %}
            <tr>
                <td><a href="{{ path('cotacao_taxa_show', { 'id': taxa.id }) }}">{{ taxa.id }}</a></td>
                <td>{{ taxa.porcentagem }}</td>
                <td>{{ taxa.marca.nome }}</td>
                <td>{{ taxa.seguradora.nome }}</td>
                <td>{{ taxa.tipo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cotacao_taxa_show', { 'id': taxa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cotacao_taxa_edit', { 'id': taxa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotacao_taxa_new') }}">Create a new taxa</a>
        </li>
    </ul>
{% endblock %}
