{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taxa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taxa.id }}</td>
            </tr>
            <tr>
                <th>Porcentagem</th>
                <td>{{ taxa.porcentagem }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ taxa.marca.nome }}</td>
            </tr>
            <tr>
                <th>Seguradora</th>
                <td>{{ taxa.seguradora.nome }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ taxa.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotacao_taxa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cotacao_taxa_edit', { 'id': taxa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
