<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url('cotacao') }}">Seguradora</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url('cotacao_index') }}">Cotacoes</a></li>
                    <li><a href="{{ url('cotacao_taxa_index') }}">Taxas</a></li>
                    <li><a href="{{ url('marca_index') }}">Marca</a></li>
                    <li><a href="{{ url('seguradora_index') }}">Seguradora</a></li>
                    <li><a href="{{ url('vendedor_index') }}">Vendedor</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
