{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marca</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marca.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ marca.nome }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marca_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marca_edit', { 'id': marca.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
