{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguradoras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seguradora in seguradoras %}
            <tr>
                <td><a href="{{ path('seguradora_show', { 'id': seguradora.id }) }}">{{ seguradora.id }}</a></td>
                <td>{{ seguradora.nome }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seguradora_show', { 'id': seguradora.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seguradora_edit', { 'id': seguradora.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguradora_new') }}">Create a new seguradora</a>
        </li>
    </ul>
{% endblock %}
