{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguradora</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seguradora.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ seguradora.nome }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguradora_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seguradora_edit', { 'id': seguradora.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
