{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vendedors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vendedor in vendedors %}
            <tr>
                <td><a href="{{ path('vendedor_show', { 'id': vendedor.id }) }}">{{ vendedor.id }}</a></td>
                <td>{{ vendedor.nome }}</td>
                <td>{{ vendedor.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vendedor_show', { 'id': vendedor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vendedor_edit', { 'id': vendedor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vendedor_new') }}">Create a new vendedor</a>
        </li>
    </ul>
{% endblock %}
