{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vendedor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendedor.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ vendedor.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ vendedor.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vendedor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vendedor_edit', { 'id': vendedor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
