{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cotacaos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Datanascimento</th>
                <th>Documento</th>
                <th>Vendedor</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotacao in cotacaos %}
            <tr>
                <td><a href="{{ path('cotacao_show', { 'id': cotacao.id }) }}">{{ cotacao.id }}</a></td>
                <td>{{ cotacao.nome }}</td>
                <td>{{ cotacao.email }}</td>
                <td>{{ cotacao.telefone }}</td>
                <td>{% if cotacao.dataNascimento %}{{ cotacao.dataNascimento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cotacao.documento }}</td>
                <td>{{ cotacao.vendedor }}</td>
                <td>{{ cotacao.valor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cotacao_show', { 'id': cotacao.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cotacao_edit', { 'id': cotacao.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotacao_new') }}">Create a new cotacao</a>
        </li>
    </ul>
{% endblock %}
