{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cotacao</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cotacao.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cotacao.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cotacao.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ cotacao.telefone }}</td>
            </tr>
            <tr>
                <th>Datanascimento</th>
                <td>{% if cotacao.dataNascimento %}{{ cotacao.dataNascimento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ cotacao.documento }}</td>
            </tr>
            <tr>
                <th>Vendedor</th>
                <td>{{ cotacao.vendedor }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ cotacao.valor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotacao_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cotacao_edit', { 'id': cotacao.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
