{% extends "base.html.twig" %}

{% block title %}Cotação{% endblock %}

{% block body %}
    {% verbatim %}
        <div class="row" ng-app="appCotacao" ng-controller="ctrlCotacao">

            <div class="alert alert-{{alert.type}} col-md-6 col-md-offset-3">{{alert.msg}}</div>
            <form class="col-md-6 col-md-offset-3">

                <!-- row 1 -->
                <div class="col-md-6">
                    <label>Nome</label>
                    <input type="text" class="form-control" ng-model="cotacao.nome" ng-required="true">
                </div>

                <div class="col-md-6">
                    <label>E-mail</label>
                    <input type="email" class="form-control" ng-model="cotacao.email" ng-required="true">
                </div>

                <!-- row 2 -->
                <div class="col-md-6">
                    <label>Telefone</label>
                    <input type="text" class="form-control" ng-model="cotacao.telefone" ng-required="true">
                </div>

                <div class="col-md-6">
                    <label>Data de nascimento</label>
                    <input type="date" class="form-control" ng-model="cotacao.data_nascimento" ng-required="true">
                </div>

                <!-- row 3 -->
                <div class="col-md-6">
                    <label>Documento</label>
                    <input type="text" class="form-control" ng-model="cotacao.documento" ng-required="true">
                </div>

                <div class="col-md-6">
                    <label>CEP</label>
                    <input type="text" class="form-control" ng-model="cotacao.cep" ng-required="true">
                </div>

                <!-- row 4 -->
                <div class="col-md-6">
                    <label>Marca</label>
                    <select
                        class="form-control"
                        ng-options="marca.nome for marca in marcas"
                        ng-model="taxa.marca"
                        ng-required="true"
                        ng-disabled="!cotacao.data_nascimento"
                        >
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Seguradora</label>
                    <select class="form-control"
                    ng-options="seguradora.nome for seguradora in seguradoras"
                    ng-model="taxa.seguradora"
                    ng-disabled="!cotacao.taxa.seguradora"></select>
                </div>

                <!-- row 5 -->
                <div class="col-md-6">
                    <label>Vendedor</label>
                    <input type="text" class="form-control" disabled>
                </div>

                <div class="col-md-6">
                    <label>Valor</label>
                    <input type="text" class="form-control" ng-model="valor" disabled>
                </div>

                <div class="col-md-12">
                    <br />
                    <button class="btn btn-success btn-block" ng-click="buscarValorSeguradoras(taxa.marca.id)">Buscar</button>
                </div>

            </form>

            <!-- resultado -->
            <div class="col-md-6 col-md-offset-3" ng-show="valorSeguradoras.length > 0">
                <h3 style="margin-top: 10px;">Resultado</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Seguradora</th>
                        <th>Valor</th>
                        <th>Adiquira</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="row in valorSeguradoras">
                        <td>{{row.taxa.seguradora.nome}}</td>
                        <td>{{row.calculo | currency:'R$'}}</td>
                        <td><button class="btn btn-success" ng-click="adiquirirCotacao(cotacao, row.taxa)">Adiquira</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    {% endverbatim %}
{% endblock %}

